body {
    margin:0;
    background: black;
}

#bigImageHolder {
    margin: 0;
    border: 0;
    padding: 0;
    width: 100%;
    overflow: visible;
    cursor: pointer;
}

#bigImageHolder a {
    text-decoration: none;
}

div.container {
    margin: 0;
    border: 0;
    padding: 0;
    width: 460px;
    height: 276px;
    overflow: visible;
    float: left;
    position: relative;
    opacity: 0;
    -moz-opacity: 0;
    filter:alpha(opacity=0);
    z-index: 100;
}

div.card,
div.face {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;

}

div.face img {
    width: 100%;
    height: 100%;
}

.back {
    background: #F3F3F3;
    display: none;
}

.back h1,
.back h2 {
    margin: 6px;
}

.back h1 {
    font-family: arial,sans-serif;
    font-size: 1em;
    line-height: 1.2em;
    color: #98BCDB;
}

.back h2 {
    font-family: georgia,serif;
    font-size: 1.8em;
    color: #004A83;
}

.back .photocredit {
    font-family: arial,sans-serif;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    font-size: 11px;
    color: #333;
    text-align: right;
    background: #D9D9D9;
}

.back .photocredit p {
    margin: 4px;
}

#tab1 {
    position: fixed;
    right: 0;
    bottom: 180px;
    z-index: 500;
    width: 65px;
    height: 60px;
    background: url(../img/tab.png) -195px 0;
}

#tab2 {
    position: fixed;
    right: 0;
    bottom: 120px;
    z-index: 500;
    width: 130px;
    height: 60px;
    background: url(../img/tab.png) -130px -60px;
}

#tab3 {
    position: fixed;
    right: 0;
    bottom: 60px;
    z-index: 500;
    width: 195px;
    height: 60px;
    background: url(../img/tab.png) -65px -120px;
}

#tab4 {
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: 500;
    width: 260px;
    height: 60px;
    background: url(../img/tab.png) 0 -180px;
}