<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Guardian Snapshot</title>
    <meta http-equiv="refresh" content="3600">
    <meta name=apple-mobile-web-app-capable content=yes />
    <meta name=apple-mobile-web-app-status-bar-style content=black-translucent />
    <meta name=viewport content=width=device-width />
    <meta name=viewport content=user-scalable=no>
    <script type="text/javascript" src="//use.typekit.net/khw5xtu.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    <link href="css/main.css?v=0.1" rel="stylesheet">
  </head>
  <body>
    <div id="header">
        <div>Next update: 60<small>s</small></div>
    </div>
    <div id="bigImageHolder">
    </div>
    <div id="tab1" class="tab"></div>
    <div id="tab2" class="tab"></div>
    <a href="https://github.com/revdancatt/CAT540-guardian-picture-grid" target="_blank"><div id="tab3" class="tab"></div></a>
    <a href="http://www.guardian.co.uk/open-platform" target="_blank"><div id="tab4" class="tab"></div></a>
    <script src="js/jquery.min.js"></script> 
    <script src="js/control.js?v=0.1"></script> 
    <script>
        $(document).ready(function() {
            control.init();
        });
    </script>
  </body>
</html>