<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Guardian Picture Grid (setup)</title>
    <link href="css/bootstrap.min.css" rel="stylesheet" />
    <link href="css/bootstrap-responsive.min.css" rel="stylesheet" />
    <style>
      {% if backfilling %}
        #getApiKey {
          display: none;
        }
      {% else %}
        #backfilling {
          display: none;
        }
      {% endif %}
    </style>
  </head>
  <body>

    <div class="container">

      <div class="content">

        <div class="row">
          <div class="span6 offset3">
            <div class="page-header">
              <h1>Setup</h1>
            </div>

            <div id="getApiKey">
              <p>
                To be able to display the images large enough you need to have a partner tier
                Guardian API key, please enter your API key below
              </p>
              <form id="apiKeyCheck" class="well">
                <div class="control-group">
                  <label>Guardian API key</label>
                  <input type="text" class="span3" id="apiKey"><span class="help-inline"></span><br />
                </div>
                <button type="submit" class="btn">Submit</button>
              </form>
            </div>

            <div id="backfilling">
              <p>
                Now we need to make sure we have at least 60 stories to start with.
              </p>
              <div  class="well">
                <h1>Backfilling</h1>
                {% if backfilling %}
                  <h2>{{ backfill }}/60</h2>
                {% else %}
                  <h2>0/60</h2>
                {% endif %}
              </div>
            </div>

          </div>
        </div>

      </div>

    </div>

    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js?v=0.1"></script>
    <script src="js/setup.js?v=0.1"></script>
    <script>
        $(document).ready(function() {
            control.init();
            {% if backfilling %}
            control.backfill();
            {% endif %}
        });
    </script>
  </body>
</html>